<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>processFillter</filter-name>
        <filter-class>fillter.processFillter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>processFillter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>login_controller</servlet-name>
        <servlet-class>controller.login_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserInfor</servlet-name>
        <servlet-class>view.getUserInfor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>controller.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmAccount</servlet-name>
        <servlet-class>controller.confirmAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getNewPasswordController</servlet-name>
        <servlet-class>controller.getNewPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadLoginPage</servlet-name>
        <servlet-class>view.loadLoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetPasswordController</servlet-name>
        <servlet-class>controller.forgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setNewPass</servlet-name>
        <servlet-class>controller.setNewPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadDatingDetail</servlet-name>
        <servlet-class>view.loadDatingDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadUserAbout</servlet-name>
        <servlet-class>view.loadUserAbout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadHomePage</servlet-name>
        <servlet-class>view.loadHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadManagerUserInforPage</servlet-name>
        <servlet-class>view.loadManagerUserInforPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptFriend</servlet-name>
        <servlet-class>controller.acceptFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prcessAccpetFriend</servlet-name>
        <servlet-class>controller.prcessAccpetFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFriend</servlet-name>
        <servlet-class>controller.deleteFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFriend</servlet-name>
        <servlet-class>controller.addFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptChangeInfo</servlet-name>
        <servlet-class>controller.acceptChangeInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeInfo</servlet-name>
        <servlet-class>controller.changeInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>controller.demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAvatar</servlet-name>
        <servlet-class>controller.addAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBackground</servlet-name>
        <servlet-class>controller.addBackground</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadDatingPage</servlet-name>
        <servlet-class>view.loadDatingPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadDatingProfile</servlet-name>
        <servlet-class>view.loadDatingProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadChatPage</servlet-name>
        <servlet-class>view.loadChatPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchUser</servlet-name>
        <servlet-class>controller.searchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMessage</servlet-name>
        <servlet-class>controller.sendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadMessage</servlet-name>
        <servlet-class>view.loadMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendNewMessage</servlet-name>
        <servlet-class>controller.sendNewMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readMess</servlet-name>
        <servlet-class>controller.readMess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>controller.testServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadMessage2</servlet-name>
        <servlet-class>view.loadMessage2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadNumMess</servlet-name>
        <servlet-class>view.loadNumMess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadNumRequest</servlet-name>
        <servlet-class>view.loadNumRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadRequest</servlet-name>
        <servlet-class>view.loadRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadMess</servlet-name>
        <servlet-class>view.loadMess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadListMess</servlet-name>
        <servlet-class>view.loadListMess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadMessRealtime</servlet-name>
        <servlet-class>view.loadMessRealtime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadMessRealtime2</servlet-name>
        <servlet-class>view.loadMessRealtime2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMessAllPage</servlet-name>
        <servlet-class>controller.sendMessAllPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dislikeDatingTarget</servlet-name>
        <servlet-class>controller.dislikeDatingTarget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>likeDatingTarget</servlet-name>
        <servlet-class>controller.likeDatingTarget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notificateDating</servlet-name>
        <servlet-class>controller.notificateDating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taskWithNotification</servlet-name>
        <servlet-class>controller.taskWithNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadNotificationPage</servlet-name>
        <servlet-class>view.loadNotificationPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadRealtimeNoti</servlet-name>
        <servlet-class>view.loadRealtimeNoti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadRealtimeNumNoti</servlet-name>
        <servlet-class>view.loadRealtimeNumNoti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptF</servlet-name>
        <servlet-class>controller.acceptF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteF</servlet-name>
        <servlet-class>controller.deleteF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readNoti</servlet-name>
        <servlet-class>controller.readNoti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadFriendPage</servlet-name>
        <servlet-class>view.loadFriendPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFriend2</servlet-name>
        <servlet-class>controller.addFriend2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewInputImg</servlet-name>
        <servlet-class>controller.addNewInputImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPost</servlet-name>
        <servlet-class>controller.addPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadDetailPost</servlet-name>
        <servlet-class>view.loadDetailPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addComment</servlet-name>
        <servlet-class>controller.addComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadComment</servlet-name>
        <servlet-class>view.loadComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadPostDetailPage</servlet-name>
        <servlet-class>view.loadPostDetailPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePost</servlet-name>
        <servlet-class>controller.deletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>likePost</servlet-name>
        <servlet-class>controller.likePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadPhotoPage</servlet-name>
        <servlet-class>model.loadPhotoPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>controller.validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteDatingProfile</servlet-name>
        <servlet-class>controller.deleteDatingProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendReport</servlet-name>
        <servlet-class>controller.sendReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taskWithReport</servlet-name>
        <servlet-class>controller.taskWithReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadReportPage</servlet-name>
        <servlet-class>view.loadReportPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readReport</servlet-name>
        <servlet-class>controller.readReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadRealtimeNumRPNoti</servlet-name>
        <servlet-class>view.loadRealtimeNumRPNoti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadRealRPNoti</servlet-name>
        <servlet-class>view.loadRealRPNoti</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_controller</servlet-name>
        <url-pattern>/login_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserInfor</servlet-name>
        <url-pattern>/getUserInfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/registerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmAccount</servlet-name>
        <url-pattern>/confirmAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getNewPasswordController</servlet-name>
        <url-pattern>/getNewPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadLoginPage</servlet-name>
        <url-pattern>/loadLoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetPasswordController</servlet-name>
        <url-pattern>/forgetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setNewPass</servlet-name>
        <url-pattern>/setNewPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadDatingDetail</servlet-name>
        <url-pattern>/loadDatingDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadUserAbout</servlet-name>
        <url-pattern>/loadUserAbout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadHomePage</servlet-name>
        <url-pattern>/loadHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadManagerUserInforPage</servlet-name>
        <url-pattern>/loadManagerUserInforPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptFriend</servlet-name>
        <url-pattern>/acceptFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prcessAccpetFriend</servlet-name>
        <url-pattern>/prcessAccpetFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFriend</servlet-name>
        <url-pattern>/deleteFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFriend</servlet-name>
        <url-pattern>/addFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptChangeInfo</servlet-name>
        <url-pattern>/acceptChangeInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeInfo</servlet-name>
        <url-pattern>/changeInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAvatar</servlet-name>
        <url-pattern>/addAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBackground</servlet-name>
        <url-pattern>/addBackground</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadDatingPage</servlet-name>
        <url-pattern>/loadDatingPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadDatingProfile</servlet-name>
        <url-pattern>/loadDatingProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadChatPage</servlet-name>
        <url-pattern>/loadChatPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchUser</servlet-name>
        <url-pattern>/searchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMessage</servlet-name>
        <url-pattern>/sendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMessage</servlet-name>
        <url-pattern>/loadMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendNewMessage</servlet-name>
        <url-pattern>/sendNewMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readMess</servlet-name>
        <url-pattern>/readMess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMessage2</servlet-name>
        <url-pattern>/loadMessage2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadNumMess</servlet-name>
        <url-pattern>/loadNumMess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadNumRequest</servlet-name>
        <url-pattern>/loadNumRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadRequest</servlet-name>
        <url-pattern>/loadRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMess</servlet-name>
        <url-pattern>/loadMess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadListMess</servlet-name>
        <url-pattern>/loadListMess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMessRealtime</servlet-name>
        <url-pattern>/loadMessRealtime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMessRealtime2</servlet-name>
        <url-pattern>/loadMessRealtime2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMessAllPage</servlet-name>
        <url-pattern>/sendMessAllPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dislikeDatingTarget</servlet-name>
        <url-pattern>/dislikeDatingTarget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>likeDatingTarget</servlet-name>
        <url-pattern>/likeDatingTarget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notificateDating</servlet-name>
        <url-pattern>/notificateDating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taskWithNotification</servlet-name>
        <url-pattern>/taskWithNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadNotificationPage</servlet-name>
        <url-pattern>/loadNotificationPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadRealtimeNoti</servlet-name>
        <url-pattern>/loadRealtimeNoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadRealtimeNumNoti</servlet-name>
        <url-pattern>/loadRealtimeNumNoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptF</servlet-name>
        <url-pattern>/acceptF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteF</servlet-name>
        <url-pattern>/deleteF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readNoti</servlet-name>
        <url-pattern>/readNoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadFriendPage</servlet-name>
        <url-pattern>/loadFriendPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFriend2</servlet-name>
        <url-pattern>/addFriend2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewInputImg</servlet-name>
        <url-pattern>/addNewInputImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPost</servlet-name>
        <url-pattern>/addPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadDetailPost</servlet-name>
        <url-pattern>/loadDetailPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addComment</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadComment</servlet-name>
        <url-pattern>/loadComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadPostDetailPage</servlet-name>
        <url-pattern>/loadPostDetailPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePost</servlet-name>
        <url-pattern>/deletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>likePost</servlet-name>
        <url-pattern>/likePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadPhotoPage</servlet-name>
        <url-pattern>/loadPhotoPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteDatingProfile</servlet-name>
        <url-pattern>/deleteDatingProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendReport</servlet-name>
        <url-pattern>/sendReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taskWithReport</servlet-name>
        <url-pattern>/taskWithReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadReportPage</servlet-name>
        <url-pattern>/loadReportPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readReport</servlet-name>
        <url-pattern>/readReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadRealtimeNumRPNoti</servlet-name>
        <url-pattern>/loadRealtimeNumRPNoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadRealRPNoti</servlet-name>
        <url-pattern>/loadRealRPNoti</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
